<div class="ct_payment_page ct_payment_success">
  <div class="ct_payment_backdrop"></div>
  <div class="ct_payment_card">
    <div class="ct_brand_row">
      <img src="img/logo.svg" alt="Tactyl" class="ct_brand_logo">
      <span class="ct_brand_tag">Payment Confirmed</span>
    </div>

    <div class="ct_icon_wrap ct_icon_success">
      <svg viewBox="0 0 48 48" aria-hidden="true">
        <path d="M20.5 30.5 14 24l-3 3 9.5 9.5L37 20l-3-3z" />
      </svg>
    </div>

    <h1 class="ct_title">You are all set</h1>
    <p class="ct_subtitle">
      Your payment was successful and your plan is now active.
    </p>

    <!-- <div class="ct_info_grid">
      <div class="ct_info_item">
        <span class="ct_info_label">Access</span>
        <span class="ct_info_value">Unlocked instantly</span>
      </div>
      <div class="ct_info_item">
        <span class="ct_info_label">Receipt</span>
        <span class="ct_info_value">Sent to your email</span>
      </div>
      <div class="ct_info_item">
        <span class="ct_info_label">Need help?</span>
        <span class="ct_info_value">Support is standing by</span>
      </div>
    </div> -->

    <div class="ct_action_row">
      <a class="ct_purple_btn" href="https://tactyl.online/">Login</a>
      <!-- <a class="ct_outline_btn" routerLink="/pricing-plan">View Plan</a> -->
    </div>
  </div>
</div>
