<div class="row">
    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 mb-4">
        <div class="ct_dash_card">
            <div class="ct_dash_card_title">
                <h5 class="ct_fs_32 mb-1 ct_ff_Matter_Bold">{{dashboardData?.total_tasks ? dashboardData.total_tasks :
                    0}}
                </h5>
                <p class="mb-0 ct_text_clr_4B5563 ct_fs_20">
                    Total Tasks
                </p>
            </div>
            <div class="ct_icon_43" style="background-color: #7f4eec12">
                <img src="/img/Total_Tasks_icon.png" class="ct_icon_w_26" alt="" />
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 mb-4">
        <div class="ct_dash_card">
            <div class="ct_dash_card_title">
                <h5 class="ct_fs_32 mb-1 ct_ff_Matter_Bold">{{dashboardData?.completed_tasks ?
                    dashboardData.completed_tasks : 0}}
                </h5>
                <p class="mb-0 ct_text_clr_4B5563 ct_fs_20">
                    Completed Tasks
                </p>
            </div>
            <div class="ct_icon_43" style="background-color: #7f4eec12">
                <img src="/img/Completed_Tasks_icon.png" class="ct_icon_w_26" alt="" />
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 mb-4">
        <div class="ct_dash_card">
            <div class="ct_dash_card_title">
                <h5 class="ct_fs_32 mb-1 ct_ff_Matter_Bold">{{dashboardData?.overdue_tasks ? dashboardData.overdue_tasks
                    : 0}}
                </h5>
                <p class="mb-0 ct_text_clr_4B5563 ct_fs_20">
                    Overdue Tasks
                </p>
            </div>
            <div class="ct_icon_43" style="background-color: #7f4eec12">
                <img src="/img/Overdue_Tasks_icon.png" class="ct_icon_w_26" alt="" />
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6 mb-4">
        <div class="ct_dash_card">
            <div class="ct_dash_card_title">
                <h5 class="ct_fs_32 mb-1 ct_ff_Matter_Bold">
                    {{dashboardData?.average_cycle_time_formatted ? dashboardData.average_cycle_time_formatted : 0}}
                </h5>
                <p class="mb-0 ct_text_clr_4B5563 ct_fs_20">
                    Avg. Cycle Time
                </p>
            </div>
            <div class="ct_icon_43" style="background-color: #7f4eec12">
                <img src="/img/Avg_Cycle_Time_icon.png" class="ct_icon_w_26" alt="" />
            </div>
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col-lg-8 mb-4">
        <div class="ct_white_bg pe-0">
            <h4 class="ct_fs_22 ct_ff_Matter_Medium mb-4 ct_pe_36">
                Recent Activity
            </h4>
            <!-- <ul class="ct_recent_activity_list ct_para_scroll ct_custom_scroll ct_pe_36">
                <li *ngFor="let item of dashboardData.recent_tasks">
                    <div class="d-flex align-items-center gap-3">
                        <img src="/img/no_pro.png" class="ct_img_40" />
                        <p class="mb-0">
                            <i>Rohan Kumar created task <span class="ct_text_purple">'Homepage
                                    Banner'</span></i>
                        </p>
                    </div>
                    <p class="mb-0 ct_text_clr_4B5563 ct_white_nowrap">
                        3h ago
                    </p>
                </li>
            </ul> -->
            <ul class="ct_recent_activity_list ct_para_scroll ct_custom_scroll ct_pe_36">
                @if (dashboardData?.recent_tasks?.length > 0) {
                <li *ngFor="let item of dashboardData?.recent_tasks">
                    <div class="d-flex align-items-center gap-3">
                        <img [src]="item.assigned_by.profile_image ? item.assigned_by.profile_image : '/img/no_pro.png'"
                            class="ct_img_40" />

                        <p class="mb-0">
                            <i>
                                {{ item.assigned_by.full_name }} created task
                                <span class="ct_text_purple">'{{ item.title }}'</span>
                            </i>
                        </p>
                    </div>

                    <p class="mb-0 ct_text_clr_4B5563 ct_white_nowrap">
                        {{ getTimeAgo(item.created_at) }}
                    </p>
                </li>
                } @else {
                <div class="ct_no_task">
                    <p class="mb-0 text-center">No tasks available</p>
                </div>
                }

            </ul>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="ct_white_bg h-auto ct_27_40_38">
            <h4 class="ct_fs_18 mb-3">Team Manager</h4>
            <div class="ct_Members_info_sort gap-3 ct_d_align_center">
                <img [src]="dashboardData?.team_admin_profile_image ? dashboardData?.team_admin_profile_image : '/img/no_pro.png'"
                    alt="" class="ct_img_42 ct_flex_shrink_0" />
                <div>
                    <h5 class="ct_fs_16 mb-0 ct_ff_Matter_Medium text-truncate" style="max-width: 120px">
                        {{dashboardData?.team_admin_name}}
                    </h5>
                    <p class="ct_fs_12 ct_text_787885 mb-0 text-truncate" style="max-width: 150px">
                        {{dashboardData?.team_admin_email}}
                    </p>
                </div>
            </div>
        </div>
        <div class="ct_white_bg h-auto ct_27_40_38 ct_mt_15">
            <h4 class="ct_fs_18 mb-3 ct_ff_Matter_Medium">
                Quick Stats
            </h4>
            <ul class="ct_recent_activity_list ct_para_scroll ct_custom_scroll ct_pe_36">
                <li>
                    <div class="d-flex align-items-center gap-3">
                        <p class="mb-0 ct_text_787885">Members</p>
                    </div>
                    <p class="mb-0 ct_text_787885 ct_white_nowrap">
                        {{dashboardData?.total_members}}
                    </p>
                </li>
                <li class="ct_mt_15">
                    <div class="d-flex align-items-center gap-3">
                        <p class="mb-0 ct_text_787885">Active Boards</p>
                    </div>
                    <p class="mb-0 ct_text_787885 ct_white_nowrap">
                        {{dashboardData?.total_boards}}
                    </p>
                </li>
                <li class="ct_mt_15">
                    <div class="d-flex align-items-center gap-3">
                        <p class="mb-0 ct_text_787885">
                            Important Tasks
                        </p>
                    </div>
                    <p class="mb-0 ct_text_787885 ct_white_nowrap">
                        {{dashboardData?.urgent_tasks}}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>