<div class="ct_inner_header_bg ct_mt_30 ct_px_30 ct_d_align_center justify-content-between gap-3 ct_flex_col_575">
    <div>
        <h4 class="ct_fs_35 mb-2 ct_ff_Matter_Medium">Users</h4>
        <p class="mb-0 ct_text_929292 ct_fs_18">
            Manage your team members and their access
        </p>
    </div>
    <!-- <button class="ct_purple_btn ct_w_100_575" data-bs-target="#ct_create_team_modal" data-bs-toggle="modal">
        <img src="img/plus-circle.svg" alt="" class="me-2" />Invite User
    </button> -->
</div>
<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_search_box_bg  ct_flex_col_575">
                    <div class="form-group ct_search_input position-relative ct_flex_1 ct_w_100_575">
                        <input type="text" class="form-control ct_input ct_input_ps_50 ct_h_48"
                            placeholder="Search users by name or email..." [(ngModel)]="searchText"
                            (input)="filterTable()" [ngModelOptions]="{standalone: true}" />
                        <img src="img/search_icon.svg" class="ct_input_icon_left" />
                    </div>
                    <div class="ct_w_100_575">
                        <select class="form-control ct_input ct_grey_select">
                            <option value="">Status</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive ">
                    <table class="table ct_custom_table">
                        <thead>
                            <th>S.No</th>
                            <th>Profile</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Designation</th>
                            <th>Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let item of filteredData | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                                <td>{{(p - 1) * 10 + i + 1}}</td>
                                <td>
                                    <img [src]="item.profile_image ? item.profile_image : 'img/no_pro.png'"
                                        class="ct_img_40" />
                                </td>
                                <td>{{item.name}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.Designation ? item.Designation : '-'}}</td>
                                <td>
                                    <span>-</span>
                                    <!-- @if(item.status == 0){
                                    <span class="ct_orange_text">Pending</span>
                                    }
                                    @if(item.status == 1){
                                    <span class="ct_green_text">Active</span>
                                    }
                                    @if(item.status == 2){
                                    <span class="ct_red_text">Cancel</span>
                                    } -->
                                </td>
                                <td>
                                    <div class="d-flex align-items-center gap-3">
                                        <a [routerLink]="['/team/user-details']" [queryParams]="{ userId: item.id }">
                                            <img src="img/eye_purple_icon.png" class="ct_icon_24" alt="" title="View" />
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <div class="ct_no_recod_found_bg" *ngIf="filteredData.length == 0">
                        <p class="text-center mb-0 ct_fs_20">No users found</p>
                    </div>
                </div>
                <pagination-controls class="ct_pagination_div" *ngIf="!(filteredData?.length == 0)"
                    (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<!-- Create Team Modal S -->
<div class="modal fade ct_custom_modal modal-lg" id="ct_create_team_modal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-0 border-0">
                <div class="d-flex align-items-center gap-2">
                    <img src="img/modal_star.png" alt="" class="ct_flex_shrink_0">
                    <div>
                        <h1 class="modal-title ct_fs_20 ct_ff_Matter_SemiBold mb-0" id="exampleModalLabel">Invite User
                        </h1>
                        <p class="mb-0 ct_fs_14 ct_text_clr_4B5563 ct_text_op_08">Send an invitation to join your
                            workspace</p>
                    </div>
                </div>
                <button type="button" class="btn-close ct_close_modal" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body p-0 ct_mt_20">
                <form action="">
                    <div class="form-group ct_mb_15">
                        <label class="ct_fs_18 ct_ff_Matter_Medium mb-2">Email</label>
                        <input type="email" class="form-control ct_input" placeholder="Email" />
                    </div>
                    <div class="form-group ct_mb_15">
                        <label class="ct_fs_18 ct_ff_Matter_Medium mb-2">Role</label>
                        <select class="form-control ct_input">
                            <option value="">Team Manager</option>
                        </select>
                    </div>
                    <div class="form-group ct_mb_15">
                        <label class="ct_fs_18 ct_ff_Matter_Medium mb-2">Assign Team(s)</label>
                        <div class="ct_outline_bg">
                            <div class="d-flex align-items-center gap-3 flex-wrap ct_para_scroll ct_custom_scroll">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                    <p class="mb-0 ct_text_787885 ct_fs_16 ct_white_nowrap">Mobile App Development</p>
                                </div>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                    <p class="mb-0 ct_text_787885 ct_fs_16 ct_white_nowrap">Marketing</p>
                                </div>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                    <p class="mb-0 ct_text_787885 ct_fs_16 ct_white_nowrap">Project Management</p>
                                </div>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                    <p class="mb-0 ct_text_787885 ct_fs_16 ct_white_nowrap">HR Management</p>
                                </div>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                    <p class="mb-0 ct_text_787885 ct_fs_16 ct_white_nowrap">DevOps</p>
                                </div>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                    <p class="mb-0 ct_text_787885 ct_fs_16 ct_white_nowrap">App Sales</p>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="form-group ct_mb_15">
                        <label class="ct_fs_18 ct_ff_Matter_Medium mb-2">Temporary Permissions</label>
                        <div class="ct_outline_bg">
                            <div class=" ct_para_scroll ct_custom_scroll">
                                <div class="d-flex align-items-center gap-2">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                    <p class="mb-0 ct_text_787885 ct_fs_16 ct_white_nowrap">Can Create / Delete Teams
                                    </p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mt-2">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                    <p class="mb-0 ct_text_787885 ct_fs_16 ct_white_nowrap">Can Invite / Remove Users
                                    </p>
                                </div>
                                <div class="d-flex align-items-center gap-2 mt-2">
                                    <div class="form-check ct_custom_check2">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div>
                                    <p class="mb-0 ct_text_787885 ct_fs_16 ct_white_nowrap">Can Create / Edit / Delete
                                        Boards</p>
                                </div>


                            </div>

                        </div>

                    </div>




                </form>
                <div class="modal-footer border-0 p-0 ct_mt_44">
                    <button type="button" class="ct_outline_btn ct_ff_Matter_Medium"
                        data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="ct_purple_btn ct_ff_Matter_Medium">Send Invitation</button>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Create Team Modal E -->


<!-- invite Team Modal S -->
<div class="modal fade ct_custom_modal  modal-lg" id="ct_invite_team_modal" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-0 border-0">
                <div class="d-flex align-items-center gap-2">
                    <img src="img/modal_star.png" alt="" class="ct_flex_shrink_0">
                    <div>
                        <h1 class="modal-title ct_fs_20 ct_ff_Matter_SemiBold mb-0" id="exampleModalLabel">Invite Team
                        </h1>
                    </div>
                </div>
                <button type="button" class="btn-close ct_close_modal" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body p-0 ct_mt_20">
                <form action="">
                    <div class="form-group ct_mb_22">
                        <div class="position-relative">
                            <input type="search" class="form-control ct_input  ct_input_pe_100"
                                placeholder="Search here...">
                            <button class="ct_show_eye ct_purple_btn ct_h_40 px-3" style="right: 16px;">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>

                    </div>
                    <div class="form-group ct_mb_22">
                        <div class="ct_para_scroll ct_custom_scroll" style="max-height: 400px;">
                            <div class="ct_Members_info_sort gap-2 ct_d_align_center ct_mb_15 ct_light_grey_bg">
                                <img src="img/user_2.png" alt="" class="ct_img_42 ct_flex_shrink_0">
                                <div>
                                    <h5 class="ct_fs_16 mb-0 ct_ff_Matter_Medium text-truncate"
                                        style="max-width: 100px;">John Smith</h5>
                                    <p class="ct_fs_12 ct_text_787885 mb-0 text-truncate" style="max-width: 120px;">
                                        Johnsmithexample.com</p>
                                </div>
                                <div class="ms-auto">
                                    <button class="ct_purple_btn">Send Invite</button>
                                </div>
                            </div>
                            <div class="ct_Members_info_sort gap-2 ct_d_align_center ct_mb_15 ct_light_grey_bg">
                                <img src="img/user_2.png" alt="" class="ct_img_42 ct_flex_shrink_0">
                                <div>
                                    <h5 class="ct_fs_16 mb-0 ct_ff_Matter_Medium text-truncate"
                                        style="max-width: 100px;">Wade Warren</h5>
                                    <p class="ct_fs_12 ct_text_787885 mb-0 text-truncate" style="max-width: 120px;">
                                        wadewarrenexample.com</p>
                                </div>
                                <div class="ms-auto">
                                    <div class="ms-auto">
                                        <button class="ct_purple_btn">Send Invite</button>
                                    </div>
                                </div>
                            </div>
                            <div class="ct_Members_info_sort gap-2 ct_d_align_center ct_mb_15 ct_light_grey_bg">
                                <img src="img/user_2.png" alt="" class="ct_img_42 ct_flex_shrink_0">
                                <div>
                                    <h5 class="ct_fs_16 mb-0 ct_ff_Matter_Medium text-truncate"
                                        style="max-width: 100px;">Wade Warren</h5>
                                    <p class="ct_fs_12 ct_text_787885 mb-0 text-truncate" style="max-width: 120px;">
                                        wadewarrenexample.com</p>
                                </div>
                                <div class="ms-auto">
                                    <div class="ms-auto">
                                        <button class="ct_purple_btn">Send Invite</button>
                                    </div>
                                </div>
                            </div>

                            <div class="ct_Members_info_sort gap-2 ct_d_align_center ct_mb_15 ct_light_grey_bg">
                                <img src="img/user_2.png" alt="" class="ct_img_42 ct_flex_shrink_0">
                                <div>
                                    <h5 class="ct_fs_16 mb-0 ct_ff_Matter_Medium text-truncate"
                                        style="max-width: 100px;">Wade Warren</h5>
                                    <p class="ct_fs_12 ct_text_787885 mb-0 text-truncate" style="max-width: 120px;">
                                        wadewarrenexample.com</p>
                                </div>
                                <div class="ms-auto">
                                    <div class="ms-auto">
                                        <button class="ct_purple_btn">Send Invite</button>
                                    </div>
                                </div>
                            </div>

                            <div class="ct_Members_info_sort gap-2 ct_d_align_center ct_mb_15 ct_light_grey_bg">
                                <img src="img/user_2.png" alt="" class="ct_img_42 ct_flex_shrink_0">
                                <div>
                                    <h5 class="ct_fs_16 mb-0 ct_ff_Matter_Medium text-truncate"
                                        style="max-width: 100px;">Wade Warren</h5>
                                    <p class="ct_fs_12 ct_text_787885 mb-0 text-truncate" style="max-width: 120px;">
                                        wadewarrenexample.com</p>
                                </div>
                                <div class="ms-auto">
                                    <div class="ms-auto">
                                        <button class="ct_purple_btn">Send Invite</button>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
