<div class="ct_inner_header_bg ct_mt_30 ct_px_30">
    <h4 class="ct_fs_35  mb-2 ct_ff_Matter_Medium">Change Password</h4>
    <p class="mb-0 ct_text_929292 ct_fs_18">Secure your account by updating your password regularly.</p>
</div>
<div class="ct_px_30 ct_mt_30 pb-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="ct_white_bg bg-white ct_border_radius_15">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group ct_mb_15">
                                    <label for="" class="ct_fs_18 ct_mb_10">Current Password</label>
                                    <div class="position-relative">
                                        <img src="/img/circum_lock.svg" alt="" class="ct_input_icon_left">
                                        <input type="{{ isPasswordVisible1 ? 'text' : 'password' }}"
                                            class="form-control  ct_input ct_input_ps_50  ct_input_pe_50"
                                            placeholder="Enter current password" formControlName="current_password">
                                        <i class="fa-regular ct_show_eye"
                                            [ngClass]="isPasswordVisible1 ? 'fa-eye' : 'fa-eye-slash' "
                                            (click)="togglePasswordVisibility1()"></i>
                                    </div>
                                    <div *ngIf="form.controls['current_password']?.invalid && form.controls['current_password'].touched"
                                        class="err_msg">
                                        <div *ngIf="form.controls['current_password'].errors?.['required']">Current
                                            password is
                                            required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group ct_mb_15">
                                    <label for="" class="ct_fs_18 ct_mb_10">New Password</label>
                                    <div class="position-relative">
                                        <img src="/img/circum_lock.svg" alt="" class="ct_input_icon_left">
                                        <input type="{{ isPasswordVisible2 ? 'text' : 'password' }}"
                                            class="form-control  ct_input ct_input_ps_50 ct_input_pe_50 "
                                            placeholder="Enter new password" formControlName="new_password">
                                        <i class="fa-regular ct_show_eye"
                                            [ngClass]="isPasswordVisible2 ? 'fa-eye' : 'fa-eye-slash' "
                                            (click)="togglePasswordVisibility2()"></i>
                                    </div>
                                    <div class="err_msg"
                                        *ngIf="form.controls['new_password']?.invalid && form.controls['new_password']?.touched">

                                        <div
                                            *ngIf="form.controls['new_password'].errors?.['required']; else checkMinLength">
                                            New password is required.
                                        </div>

                                        <ng-template #checkMinLength>
                                            <div *ngIf="form.controls['new_password'].errors?.['minlength'];">
                                                New password must be at least 8 characters long.
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group ct_mb_15">
                                    <label for="" class="ct_fs_18 ct_mb_10">Confirm Password</label>
                                    <div class="position-relative">
                                        <img src="/img/circum_lock.svg" alt="" class="ct_input_icon_left">
                                        <input type="{{ isPasswordVisible3 ? 'text' : 'password' }}"
                                            class="form-control  ct_input ct_input_ps_50 ct_input_pe_50 "
                                            placeholder="Enter confirm password" formControlName="confirm_password">
                                        <i class="fa-regular ct_show_eye"
                                            [ngClass]="isPasswordVisible3 ? 'fa-eye' : 'fa-eye-slash' "
                                            (click)="togglePasswordVisibility3()"></i>
                                    </div>
                                    <div *ngIf="form.controls['confirm_password']?.invalid && form.controls['confirm_password'].touched"
                                        class="err_msg">
                                        <div *ngIf="form.controls['confirm_password'].errors?.['required']">
                                            Confirm password is required.</div>
                                        <div
                                            *ngIf="passwordMismatch && !form.controls['confirm_password'].errors?.['required']">
                                            Passwords do not match.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center gap-3 mt-5">
                            <!-- <button class="ct_outline_btn ct_ff_Matter_Medium">Cancel</button> -->
                            <button class="ct_purple_btn ct_ff_Matter_Medium" (click)="submitForm()">Save
                                Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ct_loader_main" *ngIf="loading">
      <div class="loader-con">
            <div style="--i: 0;" class="pfile"></div>
            <div style="--i: 1;" class="pfile"></div>
            <div class="pfile" style="--i: 2;"></div>
            <div class="pfile" style="--i: 3;"></div>
            <div class="pfile" style="--i: 4;"></div>
            <div class="pfile" style="--i: 5;"></div>
      </div>
</div>