<div class="ct_payment_page ct_payment_cancel">
  <div class="ct_payment_backdrop"></div>
  <div class="ct_payment_card">
    <div class="ct_brand_row">
      <img src="img/logo.svg" alt="Tactyl" class="ct_brand_logo">
      <span class="ct_brand_tag">Payment Canceled</span>
    </div>

    <div class="ct_icon_wrap ct_icon_cancel">
      <svg viewBox="0 0 48 48" aria-hidden="true">
        <path
          d="M24 4C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4Zm0 36c-8.84 0-16-7.16-16-16S15.16 8 24 8s16 7.16 16 16-7.16 16-16 16Zm-7-23.59L20.59 20 24 23.41 27.41 20 31 23.59 27.59 27 31 30.41 27.41 34 24 30.59 20.59 34 17 30.41 20.41 27 17 23.59Z" />
      </svg>
    </div>

    <h1 class="ct_title">Payment didn’t go through</h1>
    <p class="ct_subtitle">
      No worries. Your card wasn’t charged. You can try again or pick a different plan.
    </p>

    <!-- <div class="ct_info_grid">
      <div class="ct_info_item">
        <span class="ct_info_label">Status</span>
        <span class="ct_info_value">Canceled by user</span>
      </div>
      <div class="ct_info_item">
        <span class="ct_info_label">Plan</span>
        <span class="ct_info_value">Not activated</span>
      </div>
      <div class="ct_info_item">
        <span class="ct_info_label">Need help?</span>
        <span class="ct_info_value">Contact support</span>
      </div>
    </div> -->

    <div class="ct_action_row">
      <a class="ct_purple_btn" href="https://tactyl.online/pricing-plan">Try Again</a>
      <a class="ct_outline_btn" href="https://tactyl.online">Login</a>
    </div>
  </div>
</div>
