<div class="d-flex align-items-center justify-content-between gap-2 ct_mb_30">
    <h4 class="mb-0 ct_fs_20 ct_fw_600">Notifications</h4>
    <p class="mb-0 ct_text_purple ct_ff_Matter_SemiBold ct_fs_14">Mark as read</p>
</div>

<div>
    <div>
        <div class="d-flex align-items-start justify-content-between gap-2">
            <div>
                <h6 class="ct_fs_16 ct_ff_Matter_SemiBold">Task Deadline Reminder</h6>
                <p class="ct_fs_14 mb-1 ct_text_clr_4B5563">our task “Fix Dashboard UI Bugs”
                    is due tomorrow. </p>
            </div>
            <div class="text-center">
                <p class="ct_fs_12 ct_text_929292 ct_ff_Matter_Medium mb-0 ct_white_nowrap">
                    3m</p>
                <span class="ct_dot_8 mt-2"></span>

            </div>

        </div>
        <div class="d-flex align-items-start justify-content-between gap-2 ct_mt_15">
            <div>
                <h6 class="ct_fs_16 ct_ff_Matter_SemiBold">Task Deadline Reminder</h6>
                <p class="ct_fs_14 mb-1 ct_text_clr_4B5563">our task “Fix Dashboard UI Bugs”
                    is due tomorrow. </p>
            </div>
            <div class="text-center">
                <p class="ct_fs_12 ct_text_929292 ct_ff_Matter_Medium mb-0 ct_white_nowrap">
                    3m</p>
                <span class="ct_dot_8 mt-2"></span>

            </div>

        </div>
        <div class="d-flex align-items-start justify-content-between gap-2 ct_mt_15">
            <div>
                <h6 class="ct_fs_16 ct_ff_Matter_SemiBold">Task Deadline Reminder</h6>
                <p class="ct_fs_14 mb-1 ct_text_clr_4B5563">our task “Fix Dashboard UI Bugs”
                    is due tomorrow. </p>
            </div>
            <div class="text-center">
                <p class="ct_fs_12 ct_text_929292 ct_ff_Matter_Medium mb-0 ct_white_nowrap">
                    3m</p>
                <span class="ct_dot_8 mt-2"></span>

            </div>

        </div>
        <div class="d-flex align-items-start justify-content-between gap-2 ct_mt_15">
            <div>
                <h6 class="ct_fs_16 ct_ff_Matter_SemiBold">Task Deadline Reminder</h6>
                <p class="ct_fs_14 mb-1 ct_text_clr_4B5563">our task “Fix Dashboard UI Bugs”
                    is due tomorrow. </p>
            </div>
            <div class="text-center">
                <p class="ct_fs_12 ct_text_929292 ct_ff_Matter_Medium mb-0 ct_white_nowrap">
                    3m</p>
                <span class="ct_dot_8 mt-2"></span>

            </div>

        </div>
    </div>
</div>