<section class="ct_login_main">
    <div class="ct_login_left_content">
        <div>
            <div class="ct_login_logo ct_mb_35 ct_cursor_pointer">
                <img routerLink="/" src="/img/logo.svg" alt="">
            </div>
            <div class="text-center mx-auto ct_login_title" style="max-width: 373px;">
                <h4 class="ct_fs_44 ct_text_clr_f9f9f9 ct_mb_20 ct_ff_Matter_Light">One Login, Everything in Flow</h4>
                <p class="ct_text_clr_f9f9f9 ct_fs_18 mb-0">Everything you need to plan, prioritize, and execute – your way.</p>
            </div>
        </div>
        <div class="ct_login_bottom_img mt-auto">
            <img src="/img/login_bottom_img.png" alt="">
        </div>
    </div>
    <div class="ct_login_right_content">
        <div class="text-center ct_mb_30 ct_pe_90  ">
            <h2 class="ct_fs_35 ct_mb_10 ct_ff_Matter_Medium">Set a New Password</h2>
            <p class="ct_text_clr_5E6168 mb-0 ct_fs_20 mx-auto">For security reasons, please create a new password.</p>
        </div>
        <form [formGroup]="form" class="  w-100 ">
            <div class="ct_login_scroll ct_custom_scroll ct_pe_90">
                <div class="form-group ct_mb_15">
                    <label for="" class="ct_fs_18 ct_mb_10">New Password</label>
                    <div class="position-relative">
                        <img src="/img/circum_lock.svg" alt="" class="ct_input_icon_left">
                        <input type="{{ isPasswordVisible2 ? 'text' : 'password' }}"
                            class="form-control  ct_input ct_input_ps_50 ct_input_pe_50 "
                            placeholder="Enter new password" formControlName="new_password">
                        <i class="fa-regular ct_show_eye" [ngClass]="isPasswordVisible2 ? 'fa-eye' : 'fa-eye-slash' "
                            (click)="togglePasswordVisibility2()"></i>
                    </div>
                    <div class="err_msg"
                        *ngIf="form.controls['new_password']?.invalid && form.controls['new_password']?.touched">

                        <div *ngIf="form.controls['new_password'].errors?.['required']; else checkMinLength">
                            New password is required.
                        </div>

                        <ng-template #checkMinLength>
                            <div *ngIf="form.controls['new_password'].errors?.['minlength'];">
                                New password must be at least 8 characters long.
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div class="form-group ct_mb_15">
                    <label for="" class="ct_fs_18 ct_mb_10">Confirm New Password</label>
                    <div class="position-relative">
                        <img src="/img/circum_lock.svg" alt="" class="ct_input_icon_left">
                        <input type="{{ isPasswordVisible3 ? 'text' : 'password' }}"
                            class="form-control  ct_input ct_input_ps_50 ct_input_pe_50 "
                            placeholder="Enter confirm new password" formControlName="confirm_password">
                        <i class="fa-regular ct_show_eye" [ngClass]="isPasswordVisible3 ? 'fa-eye' : 'fa-eye-slash' "
                            (click)="togglePasswordVisibility3()"></i>
                    </div>
                    <div *ngIf="form.controls['confirm_password']?.invalid && form.controls['confirm_password'].touched"
                        class="err_msg">
                        <div *ngIf="form.controls['confirm_password'].errors?.['required']">
                            Confirm password is required.</div>
                        <div *ngIf="passwordMismatch && !form.controls['confirm_password'].errors?.['required']">
                            Passwords do not match.</div>
                    </div>
                </div>
            </div>
            <div class="ct_mt_35 ct_pe_90">
                <a (click)="submitForm()" class="ct_2d_purple_btn w-100">Update Password & Continue</a>
            </div>
        </form>
    </div>

</section>

<div class="ct_loader_main" *ngIf="loading">
      <div class="loader-con">
            <div style="--i: 0;" class="pfile"></div>
            <div style="--i: 1;" class="pfile"></div>
            <div class="pfile" style="--i: 2;"></div>
            <div class="pfile" style="--i: 3;"></div>
            <div class="pfile" style="--i: 4;"></div>
            <div class="pfile" style="--i: 5;"></div>
      </div>
</div>