<section class="ct_login_main">
    <div class="ct_login_left_content">
        <div>
            <div class="ct_login_logo ct_mb_35 ct_cursor_pointer">
                <img routerLink="/" src="/img/logo.svg" alt="">
            </div>
            <div class="text-center mx-auto ct_login_title" style="max-width: 373px;">
                <h4 class="ct_fs_44 ct_text_clr_f9f9f9 ct_mb_20 ct_ff_Matter_Light">One Login, Everything in Flow</h4>
                <p class="ct_text_clr_f9f9f9 ct_fs_18 mb-0">Everything you need to plan, prioritize, and execute – your way.</p>
            </div>
        </div>
        <div class="ct_login_bottom_img mt-auto">
            <img src="/img/login_bottom_img.png" alt="">
        </div>
    </div>
    <div class="ct_login_right_content">
        <div class="text-center ct_mb_30 ct_pe_90  ">
            <h2 class="ct_fs_35 ct_mb_10 ct_ff_Matter_Medium">Complete Your Profile</h2>
            <p class="ct_text_clr_5E6168 mb-0 ct_fs_20 mx-auto" style="max-width: 492px;">For security reasons, please
                create a new password.</p>
        </div>
        <form action="" class="  w-100 ">
            <div class="ct_login_scroll ct_custom_scroll ct_pe_90">
                <div class="form-group ct_mb_15">
                    <label for="" class="ct_fs_18 ct_mb_10">Full Name</label>
                    <div class="position-relative">
                        <img src="/img/user_icon.svg" alt="" class="ct_input_icon_left">
                        <input type="text" class="form-control  ct_input ct_input_ps_50 " placeholder="Enter full name">
                    </div>
                </div>

                <div class="form-group ct_mb_15">
                    <label for="" class="ct_fs_18 ct_mb_10">Designation</label>
                    <div class="position-relative">
                        <img src="/img/company_icon.svg" alt="" class="ct_input_icon_left">
                        <input type="text" class="form-control  ct_input ct_input_ps_50 ct_input_pe_40"
                            placeholder="Enter your designation">
                    </div>
                </div>
            </div>



            <div class="ct_mt_35 ct_pe_90">
                <a routerLink="/individual/dashboard" class="ct_2d_purple_btn w-100">Continue</a>
            </div>
        </form>
    </div>

</section>